/* Style générique pour les tooltips */
[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  background-color: var(--neutral);
  color: var(--textColor);
  padding: 5px 8px;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease;
  margin-left: 10px;
  z-index: 10;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

[data-tooltip]:hover::after {
  opacity: 1;
  transform: translateY(-50%) translateX(5px);
}
